<a href="https://colab.research.google.com/github/mrv7777/MLP/blob/main/MLP_WEEK2_GA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **IMPORT REQUIRED LIBRARY**

In [1]:
!pip install scikit-learn==1.2.2
import sklearn

Requirement already satisfied: scikit-learn==1.2.2 in /usr/local/lib/python3.11/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.2.2) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.2.2) (1.13.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.2.2) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.2.2) (3.5.0)

In [2]:
sklearn.__version__

'1.2.2'

**1- Find shape of the Wisconsin breast cancer data's feature matrix (accessed from sklearn.datasets)**

In [10]:
from sklearn.datasets import load_breast_cancer
breast_cancer_dataset = load_breast_cancer(as_frame=True)

In [11]:
breast_cancer_dataset.data.shape

(569, 30)

**2- How many benign ( B ) tumour cases are present in the Wisconsin breast cancer dataset ?**

In [14]:
breast_cancer_dataset.target_names

array(['malignant', 'benign'], dtype='<U9')

In [15]:
breast_cancer_dataset.target.value_counts()

target
1    357
0    212
Name: count, dtype: int64

**3- How many malignant ( M ) tumour cases are present in the Wisconsin breast cancer dataset.**

In [16]:
breast_cancer_dataset.target.value_counts()

target
1    357
0    212
Name: count, dtype: int64

**4- Find out the shape of the feature matrix in california housing dataset.**

In [17]:
from sklearn.datasets import fetch_california_housing
housing_data = fetch_california_housing()
print(housing_data.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [18]:
housing_data.data.shape

(20640, 8)

**5- Find out the labels of the first five rows(samples) in california housing dataset. Note, the labels are real-valued.**

In [19]:
housing_data.target[:5]

array([4.526, 3.585, 3.521, 3.413, 3.422])

**6- Find out the name of the class label in california housing dataset(target matrix)?**

In [20]:
housing_data.target_names

['MedHouseVal']