<a href="https://colab.research.google.com/github/mrv7777/MLP/blob/main/MLP_NPPE1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv('NPPE1_Preprocessing1.csv')

In [3]:
df.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO
2,10.925905,0.441022,18.322960,2.824833,8.0,-2.0,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO

How many samples are there in the dataset?

In [5]:
df.shape

(4000, 14)

What is the average house price (in lacs)?

In [6]:
df['PRICE'].mean()

24.355923220694248

How many houses have 5 or more rooms?

In [16]:
df['RM'][df['RM']>=5].count()

3953


What is the average price of the top 10 most expensive houses (in lacs)?

In [15]:
df_sorted = df.sort_values('PRICE',ascending=False).head(10)
df_sorted['PRICE'].mean()

52.36590175716407

In [17]:
df.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO
2,10.925905,0.441022,18.322960,2.824833,8.0,-2.0,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO

What is the total number of missing or unknown values in the number of rooms feature?

In [18]:
df['RM'].unique()

array([ 6.,  7.,  8.,  9., 10., -1.,  5.,  4., 11.])

In [22]:
df['RM'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: RM
Non-Null Count  Dtype
--------------  -----
4000 non-null   float64
dtypes: float64(1)
memory usage: 31.4 KB

In [21]:
df['RM'][df['RM']==-1].count()

40

What is the total number of missing or unknown values in the age feature?

In [23]:
df['AGE'].unique()

array([ 42.,  63.,  -2.,   9.,  20.,  95.,  35.,  97.,  36.,  78.,  99.,
        96.,  19.,  73.,  86.,  37.,  76.,  50.,  32.,  92., 101.,   8.,
        94.,  84.,  47.,  43.,  65.,  46.,  59.,  74.,  93.,  80.,  98.,
       102.,  56., 100.,  89.,  53.,  18.,  71.,  62.,  83.,  66.,   7.,
        77.,  91.,  90.,  58.,  57.,  60.,  87.,  75.,  34.,  85.,  48.,
        33.,  38.,  30.,  23.,  55.,  11.,  14.,  45.,  41.,  88.,  16.,
        12.,  79.,  67.,  39.,  49.,  61.,  70.,  54.,  10.,  22.,  72.,
        15.,  51.,  81.,  31.,  52.,  44.,  28.,  17.,  40.,  29.,  69.,
        64.,  24.,  82.,  26.,  68.,  27.,  13., 103.,  21.,  25.,   6.,
         5.,   3.,   4.])

In [26]:
df['AGE'][df['AGE']==-2].count()

50

What is the total number of missing or unknown values in the RIVERSIDE feature?

In [27]:
df['RIVERSIDE'].unique()

array(['NO', 'UNKNOWN', 'YES'], dtype=object)

In [28]:
df['RIVERSIDE'][df['RIVERSIDE']=='UNKNOWN'].count()

88

How many houses are on riverside and were built within the last 50 years (i.e. a house 50 years old or younger)? For this question, ignore the rows that have missing values in either riverside feature or age feature.

In [43]:
df[df['AGE'] != -2][df['RIVERSIDE'] != 'UNKNOWN'][df['AGE']<=50][df['RIVERSIDE']=='YES'].shape

<ipython-input-43-c2bdf2dad0c5>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['AGE'] != -2][df['RIVERSIDE'] != 'UNKNOWN'][df['AGE']<=50][df['RIVERSIDE']=='YES'].shape
<ipython-input-43-c2bdf2dad0c5>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['AGE'] != -2][df['RIVERSIDE'] != 'UNKNOWN'][df['AGE']<=50][df['RIVERSIDE']=='YES'].shape
<ipython-input-43-c2bdf2dad0c5>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['AGE'] != -2][df['RIVERSIDE'] != 'UNKNOWN'][df['AGE']<=50][df['RIVERSIDE']=='YES'].shape

(44, 14)

How many houses are near to exactly 6, 7 or 8 highways (all three inclusive)?

In [46]:
df[(df['HIGHWAYCOUNT'] == 6)|(df['HIGHWAYCOUNT'] == 7)|(df['HIGHWAYCOUNT'] == 8)].shape[0]

1211

Create a column 'CATEGORY' and divide the houses in categories as following:

Category 1: house price <10 lacs

Category 2: 10 lacs <= house price <20 lacs

Category 3: 20 lacs <= house price <30 lacs

Category 4: 30 lacs <= house price <40 lacs

Category 5: house price >=40 lacs


Which category has the highest number of records?

In [55]:
def categorize(price):
  if price < 10:
    return 1
  elif price >= 10 and price < 20:
    return 2
  elif price >= 20 and price < 30:
    return 3
  elif price >= 30 and price < 40:
    return 4
  elif price >= 40:
    return 5

In [56]:
df['CATEGORY'] = df['PRICE'].apply(categorize)

In [57]:
df.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE,CATEGORY
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO,3
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO,3
2,10.925905,0.441022,18.322960,2.824833,8.0,-2.0,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO,2
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO,3
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO,3

In [58]:
df['CATEGORY'].value_counts()

CATEGORY
3    2028
2    1158
4     503
5     268
1      43
Name: count, dtype: int64

Divide the data into training and test sets

1. Replace the respective missing or unknown values in features room count, riverside and age with np.nan.

2. Keep 30% of the data as test set.

3. Use random_state as 0

4. PRICE is the target, rest of the columns are the features.

5. Apply train test split.

Hint: look for the documentation of the usual function that divides the data into training and test datasets.

What is the number of samples in the training set?

In [61]:
df['AGE'] = df['AGE'].replace(-2,np.nan)
df['RIVERSIDE'] = df['RIVERSIDE'].replace('UNKNOWN',np.nan)
df['RM'] = df['RM'].replace(-1,np.nan)

In [65]:
from sklearn.model_selection import train_test_split

In [69]:
xtrain, xtest, ytrain ,ytest = train_test_split(df.drop('PRICE',axis=1),df['PRICE'],test_size=0.3,random_state=0)

In [71]:
xtrain.shape

(2800, 14)

Apply following preprocessing steps:

1. Drop CATEGORY column
2. CRIM: min max scaling
3. ZN: min max scaling
4. INDUS: standard scaling
5. POLINDEX: min max scaling
6. DIS: min max scaling
7. HIGHWAYCOUNT: min max scaling
8. TAX: min max scaling
9. PTRATIO: min max scaling
10. IMM: min max scaling
11. BPL: min max scaling
12. RM: impute with median then min max scaling
13. AGE: impute with mean then min max scaling
14. RIVERSIDE: Impute with most frequent value then one hot encode.

NOTE:
1. Make sure to preprocess the features in exactly above order. Answer of Q.16 depends upon correct order of featuring processing.
2. You may have to use multiple instances of a trasnformer for this question.


How many features are there after performing above transformation?

In [72]:
xtest.columns

Index(['CRIM', 'ZN', 'INDUS', 'POLINDEX', 'RM', 'AGE', 'DIS', 'HIGHWAYCOUNT',
       'TAX', 'PTRATIO', 'IMM', 'BPL', 'RIVERSIDE', 'CATEGORY'],
      dtype='object')

What is the mean of the transformed test data (features only)?
Note : Compute the mean of the whole feature matrix i.e. mean of all values in the transformed test feature matrix

In [80]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [81]:
xtrain = xtrain.drop('CATEGORY',axis=1)
xtest = xtest.drop('CATEGORY',axis=1)

In [84]:
min_max = MinMaxScaler()
standard = StandardScaler()
one_hot = OneHotEncoder()
median = SimpleImputer(strategy='median')
mean = SimpleImputer(strategy='mean')
mode = SimpleImputer(strategy='most_frequent')

In [89]:
transformer = ColumnTransformer(
    [ 'd', min_max, ['CRIM','ZN','DIS','POLINDEX','HIGHWAYCOUNT','TAX','PTRATIO','IMM','BPL'] ],
    [ 'e',standard, ['INDUS'] ],
    remainder='passthrough'
)
xtrain = transformer.fit_transform(xtrain)
xtest = transformer.transform(xtest)

TypeError: ColumnTransformer.__init__() takes 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [96]:
from sklearn.pipeline import Pipeline

# Load the data
df = pd.read_csv('NPPE1_Preprocessing1.csv')

# Replace missing values. changed pd.NA to np.nan
df['AGE'] = df['AGE'].replace(-2,np.nan)
df['RIVERSIDE'] = df['RIVERSIDE'].replace('UNKNOWN',np.nan)
df['RM'] = df['RM'].replace(-1,np.nan)

# Split data into training and testing sets
xtrain, xtest, ytrain ,ytest = train_test_split(df.drop('PRICE',axis=1),df['PRICE'],test_size=0.3,random_state=0)


# Define individual transformers
min_max = MinMaxScaler()
standard = StandardScaler()
one_hot = OneHotEncoder(handle_unknown='ignore') #handle unknown is added so that one hot encoding can be applied to test data.
median = SimpleImputer(strategy='median')
mean = SimpleImputer(strategy='mean')
mode = SimpleImputer(strategy='most_frequent')

#Create a pipeline for each column requiring both imputation and transforming
riverside_pipeline = Pipeline(steps=[
    ('imputer', mode),
    ('onehot', one_hot)
])

age_pipeline = Pipeline(steps=[
    ('imputer', mean),
    ('minmax', min_max)
])

rm_pipeline = Pipeline(steps=[
    ('imputer', median),
    ('minmax', min_max)
])

# Define the ColumnTransformer with the correct list of tuples and pipelines
transformer = ColumnTransformer(
    transformers=[
        ('riverside', riverside_pipeline, ['RIVERSIDE']), # Impute then one hot encode
        ('age', age_pipeline, ['AGE']), #Impute then MinMaxScale
        ('rm', rm_pipeline, ['RM']), #Impute then MinMaxScale
        ('minmax', min_max, ['CRIM','ZN','DIS','POLINDEX','HIGHWAYCOUNT','TAX','PTRATIO','IMM','BPL']), #MinMaxScale
        ('standard', standard, ['INDUS']) #Standard Scale
    ],
    remainder='passthrough', #passthrough any non-specified columns.
    verbose_feature_names_out = False #prevent long column names
)

# Fit and transform the training data
xtrain = transformer.fit_transform(xtrain)

# Transform the testing data
xtest = transformer.transform(xtest)

#Print the shape of the test and train data.
print(xtest.shape)
print(xtrain.shape)

(1200, 14)
(2800, 14)

In [97]:
xtest.mean()

0.3861745655097562