<a href="https://colab.research.google.com/github/mrv7777/MLP/blob/main/MLPWeek1_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('V5_1.csv')

In [3]:
df.shape

(10000, 12)

In [4]:
df

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

**1- Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)**

In [42]:
df_even = df.iloc[0::2]

In [43]:
# prompt: how to reset the index of df

df_even = df_even.reset_index(drop=True)

In [44]:
df_even

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
2,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East
3,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
4,2009-01-02,2009,NaN,603540.0,1680000.0,Single Family,Detached House,3,1,1039.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2022-09-30,2022,NaN,352030.0,700000.0,?,Detached House,3,3,958.0,1.003979,North
4996,2022-09-30,2022,Fairfield,NaN,680000.0,Single Family,Detached House,3,2,908.0,1.003979,West
4997,2022-09-30,2022,NaN,155550.0,215000.0,Three Family,Triplex,6,5,2114.0,1.003979,North
4998,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North
4999,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North

In [45]:
df_even.iloc[0,3]

111440.0

**2- Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))**

In [46]:
df_even.iloc[332,3]

256200.0

**3- Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))
 Please consider case sensitivity while giving your solution capital letter ≠ small letter If it is a string don't write quotes in the solution.**

In [47]:
df_odd = df.iloc[1::2]

In [48]:
df_odd

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
5,2009-01-02,2009,Greenwich,2868880.0,3300000.0,Single Family,Detached House,3,1,1039.0,1.025953,North
7,2009-01-02,2009,Greenwich,592760.0,920000.0,Single Family,Detached House,3,3,937.0,1.025953,North
9,2009-01-02,2009,Bridgeport,137901.0,245000.0,Single Family,Detached House,3,1,956.0,1.025953,West
...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2022-09-30,2022,Norwalk,344270.0,512500.0,Single Family,Detached House,3,3,NaN,1.003979,West
9993,2022-09-30,2022,West Hartford,121870.0,235000.0,Single Family,Detached House,3,2,1087.0,1.003979,South
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [51]:
df_odd = df_odd.reset_index(drop=True)

In [50]:
df_odd.iloc[332,3]

352940.0

**4- Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.**

In [63]:
df_even_col = df.iloc[:,1::2]

In [64]:
df_even_col.iloc[100,5]

'West'

**5- Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.**

In [65]:
df_even_even = df.iloc[0::2,0::2]

In [66]:
df_even_even = df_odd_even.reset_index(drop=True)

In [67]:
df_even_even.iloc[255,3]

'Detached House'

**6- Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data**

In [72]:
df['Year'].unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022])

In [79]:
df[df['Year'].isin([2017, 2018, 2019, 2020, 2021, 2022])].shape[0]

4749

**7- Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3**

In [82]:
df[(df['num_rooms'] == 3)&(df['num_bathrooms'] == 3)].shape[0]

2730

**8-Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3**

In [85]:
df[(df['num_rooms'] == 3)|(df['num_bathrooms'] == 3)].shape[0]

8591

**9- In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?**

In [86]:
df[(df['Year']==2022)&(df['Locality']=='Greenwich')&(df['num_rooms']==3)&(df['Face'].isin(['North','East']))].shape[0]

42

**10- Calculate the number of samples(rows) that correspond to the month of August across all the years.?**

In [101]:
def monthe(date):
  year,month,day = date.split('-')
  if month == '08':
    return True
  else:
    return False

df['Date'].apply(monthe).sum()

1050

**11- According to the data which Locality have highest average Sale Price?**

In [121]:
df[['Locality','Sale Price']].groupby('Locality').mean().sort_values('Sale Price',ascending=False)

                 Sale Price
Locality
Greenwich      2.270224e+06
Fairfield      7.277225e+05
Stamford       6.305313e+05
Norwalk        5.590959e+05
West Hartford  3.385472e+05
Bridgeport     1.740953e+05
Waterbury      1.062152e+05